Package: com.brend0n.unityfpsindicator
Name: FPSIndicator 
Depends: mobilesubstrate,applist,org.thebigboss.libcolorpicker
Version: 0.0.3r6
Architecture: iphoneos-arm
Description: real-time fps indicator for games
 real-time fps indicator for games
 0.0.3r6: Fix not working in some games.
Maintainer: Brend0n <brendonjkding@126.com>
Author: Brend0n <brendonjkding@126.com>
Section: Tweaks
