<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>开关</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.brend0n.unityfpsindicator</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>开关</string>
			<key>PostNotification</key>
			<string>com.brend0n.unityfpsindicator/loadPref</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>注：如显示为0则暂不支持该方式</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.brend0n.unityfpsindicator</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>fpsMode</string>
			<key>label</key>
			<string>计算方法</string>
			<key>validTitles</key>
			<array>
				<string>当前帧</string>
				<string>平均</string>
				<string>每秒</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.brend0n.unityfpsindicator/loadPref</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>选择开启的游戏</string>
			<key>action</key>
			<string>selectApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.brend0n.unityfpsindicator</string>
				<key>key</key>
				<string>color</string>
				<key>fallback</key>
				<string>#ffff00</string>
				<key>alpha</key>
				<true/>
				<key>PostNotification</key>
				<string>com.brend0n.unityfpsindicator/loadPref</string>
			</dict>
			<key>label</key>
			<string>文字颜色</string>
		</dict>
	</array>
	<key>title</key>
	<string>FPSIndicator</string>
</dict>
</plist>
